<img src="/loot/img/cone-legion2.png">
<nav>
	<ul class="menu">
		<li><a href="/loot/usuario">Home</a>
		<li><a>Usuário</a>
			<ul>
				<li><a href="/loot/usuario/cadastrar">Cadastrar</a></li>
				<li><a href="/loot/usuario/editar">Editar/Excluir</a></li>
			</ul>
		</li>
		<li><a>Char</a>
			<ul>
				<li><a href="/loot/character/cadastrar">Cadastrar</a></li>
				<li><a href="/loot/character/editar">Editar/Excluir</a></li>
			</ul>
		</li>
		<li><a href="/loot/raid/montar">Raid</a>
		</li>
		<li><a href="/loot/loot">Loots</a>
		</li>
		<li><a href="/loot/usuario/deslogar">Sair</a>
		</li>
	</ul>
</nav>